html, body {
    scroll-behavior: smooth;
}
h1,h2, h3 {
  text-align: center;  
}
.col-6 {
    text-align: center;
}
.toppingSvg {
    position: absolute;
    top:60px;
    left:200px;
}
.pizzaSvg {
    position: relative;
    text-align: center;
}


#blankPizza {
    
    width: 10rem;
}
.center {
  text-align: center;
  font-size: large;
}

.bg-pizzared {
  background-color: #ff0000 !important;
}

.hours-day {
  width: 20em;
}
.hours-times {
  width: 30em;
}

#hours {
  background-color: #ff9a00	;
}

#contact {
  background-color: #ff9a00	;
}

.contact-container {
  display: flex;
  justify-content: space-around;
  
}