html{
    font-size: large;
}
h1,h2, h3 {
  text-align: center;  
}
h2, h3 {
    margin-bottom: 1.5em;
}


.navbar {
    position: sticky;
    top: 0;
    z-index:1;
}

.nav-link {
    font-size: larger;
    font-weight: 700;
}

.toppingSvg {
    position: absolute;
    top:0;
    left:0;
}
#pineapple {
    transform: rotate(60deg);
}
#pepperoni {
    transform: rotate(-45deg);
}
.pizzaImage {
    width: 200px;
    height: 200px;
    margin: auto;
}
.lineCost {
    text-align:right;
}
.lineItem {
    text-align: left;
}
#toppings {
    position: relative;
}
.col-6 {
    text-align: center;
    border-right: 5px solid red;
    border-left: 5px solid red;
}

section {
    padding-top: 140px;
    opacity:0;
    height: 100vh;
}

.currentSection {
    transition:linear opacity 300ms;
    opacity: 1;
}

.flash-page {
  opacity:1;
  background-image: url("https://images.unsplash.com/photo-1590534247854-e97d5e3feef6?ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60") ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.flash-container {
  /* display: flex; */
  margin: auto;
  border: 5px solid rgb(51, 41, 41);;
  border-radius: 10px;
  width: 50vw;
  font-size: 40px;
  color: whitesmoke;
  background-color: rgb(31, 27, 27);
  text-align: center;
}
a {
  text-decoration: none;
  cursor: pointer;
}
/* unvisited link */
a:link {
  color:whitesmoke
}

/* visited link */
a:visited {
  color: whitesmoke;
}

/* mouse over link */
a:hover {
  color: whitesmoke
}

/* selected link */
a:active {
  color: whitesmoke;
}


#blankPizza {
    width: 10rem;
}
.center {
  text-align: center;
  font-size: large;
}

#addToCart {
    position: absolute;
    bottom: 0;
    margin-top: 20px;
}

.bg-pizzared {
  background-color: #ff0000 !important;
}

.hours-day {
  width: 20em;
}
.hours-times {
  width: 30em;
}
.row {
    justify-content:center;
}
#hours {
  background-color: #ff9a00	;
}

#contact {
  background-color: #ff9a00	;
}

.contact-container {
  display: flex;
  justify-content: space-around;
  
}

.reserve-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.center {
  text-align: center;
}

